<section class="row head ">
  <div class="col-12 title">
    <h1>Lista de {{ tipo | lowercase }}</h1>
  </div>
  <div class="col">
    <button mat-raised-button (click)="onBack()">Atrás</button>
  </div>

</section>


<div class="row justify-content-around" id="row-aside">


  <section class="col-12 col-body">


    <div class="pt-4 col-12 d-flex justify-content-between">
      <div class="d-flex form-control align-items-center bd-highlight pr-3" id="search">
        <label for="col-4 table-filtering-search" class="pr-3 col-form-label">Busqueda</label>
        <input class="col-4 input-search" type="text" name="searchTerm" [(ngModel)]="service.searchTerm">
        <span class="col-4 text-center" *ngIf="service.loading$ | async"><i
            class="fas fa-spinner fa-lg fa-spin"></i></span>
      </div>

      <mat-form-field appearance="outline" >
        <mat-label>Localidad</mat-label>
        <mat-select [(value)]="locationSelected" (valueChange)="selectLocation($event)">
          <mat-option value=''>Todos</mat-option>
          <!-- <mat-select-trigger>
            {{locationSelected.length ? locationSelected[0] : ''}}
            <span *ngIf="locationSelected?.length > 1" class="example-additional-selection">
              (+{{locationSelected.length - 1}} {{locationSelected.length === 2 ? 'otro' : 'otros'}})
            </span>
          </mat-select-trigger> -->
          <!-- <mat-optgroup *ngFor="let locations of locations" [label]="locations.locationCityName"> -->
            <!-- <mat-option *ngFor="let estate of locations['estates']" [value]="estate.estateID">
              {{estate.address | titlecase}} &nbsp; &nbsp; <strong> {{ estate.estateTypes | uppercase }}</strong>
            </mat-option> -->
            <mat-option *ngFor="let locations of locations" [value]="locations.locationID">
              {{locations.locationCityName | titlecase}}
            </mat-option>
          <!-- </mat-optgroup> -->

        </mat-select>
      </mat-form-field>

    </div>

<!-- [disabled]="loading" -->
    <div class="pt-4 col-3 align-self-end">
      <button
       mat-stroked-button hidden color="warn"
        disabled
       (click)="generatePDF()"
        *ngIf="tipo == 'voluntarios'">
        <span class="text-center" *ngIf="loading">
          <i class="fas fa-spinner fa-lg fa-spin"> </i>
        </span>
        <mat-icon>
          picture_as_pdf
        </mat-icon>
        Descargar **REFACTORIZAR**
      </button>
    </div>


    <div *ngIf="(data | async)?.length" class="campus-col">
      <ul *ngFor="let item of data | async; let i = index;">
        <li>
          <div class="col mb-3">
            <div class="card"
              [ngClass]="[item.availability  || item.enabled || item.quantity > 0 ? 'card-with_stock' : 'card-out_of_stock']">


              <a [routerLink]="['/recursos', 'lista', tipo, item.id]">
                <!-- Voluntarios y Vehiculos -->
                <div class="card-header">
                  <div *ngIf="item.volunteers || item.vehicles" class="d-flex justify-content-sm-center">
                    <span class="mb-2">
                      <strong *ngIf="item.volunteers"> ID: {{item.volunteers.dni}}</strong>
                      <strong *ngIf="item.vehicles">Patente: {{item.vehicles.vehiclePatent}}</strong>
                    </span>
                  </div>
                  <span class="imagen">
                    <img src="{{ item.picture }}" class="card-img-top" alt="..." />
                  </span>
                </div>


                <div class="card-body">
                  <h2>{{ item.name | titlecase }}</h2>

                  <ng-container *ngIf=" item.volunteers; then volunteers else notVolunteers">
                  </ng-container>


                  <ng-template #notVolunteers>
                    <div>
                      <h6 *ngIf="item.materials" class="card-subtitle text-muted">
                        de {{ item.materials.brand | titlecase }}
                      </h6>
                      <h6 *ngIf="item.vehicles" class="card-subtitle text-muted">
                        de {{ item.locationCityName | titlecase }}
                      </h6>

                      <div *ngIf="item.medicines" class="medicine-body card-subtitle text-muted">
                        <h6>
                          {{item.medicines.medicineLab}}
                        </h6>
                        <h6>
                          {{item.medicines.medicineDrug}} {{item.medicines.medicineWeight}}
                          {{item.medicines.medicineUnits}}
                        </h6>
                      </div>

                      <hr>
                    </div>

                  </ng-template>


                  <div class="layer">
                    <div class="hov">
                      <p *ngIf = "!item.reason">
                        {{ item.description }}
                      </p>

                      <p *ngIf = "item.reason">
                        {{item.reason}}
                      </p>

                      <ng-container
                        *ngIf="item.volunteers || item.vehicles; then volunteersStatus else notVolunteersStatus">
                      </ng-container>

                      <ng-template #notVolunteersStatus>

                        <span
                          [ngClass]="[item.availability == false || item.quantity <= 0 ? 'status-out_of_stock' : 'status-with_stock']">
                          <button *ngIf="item.availability && item.quantity > 0 && item.enabled">
                            Cantidad : {{item.quantity | number}}
                          </button>

                          <button *ngIf="!item.availability || item.quantity <= 0">
                            SIN STOCK
                          </button>

                          <button *ngIf="item.enabled == false" class="black">
                            Deshabilitado
                          </button>

                        </span>
                      </ng-template>
                    </div>
                  </div>


                  <ng-template #volunteers>
                    <div>
                      <h6 class="card-subtitle text-muted">
                        de {{ item.locationCityName | titlecase }}
                      </h6>
                    </div>

                    <hr>
                    <div class="d-flex flex-sm-row bd-highlight">

                      <div class="d-flex flex-sm-column p-2 w-100 bd-highlight justify-content-between">
                        <mat-icon aria-hidden="false" aria-label="Email">email</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Phone number">call</mat-icon>
                      </div>

                      <div class="d-flex flex-sm-column p-2 flex-shrink-1 bd-highlight align-items-sm-baseline">

                        <span class="card-subtitle text-muted p-2">
                          {{item.volunteers.email}}
                        </span>

                        <span class="card-subtitle text-muted p-2"> {{item.volunteers.phone}}</span>
                      </div>
                    </div>

                  </ng-template>
                </div>
              </a>

              <!-- Footer - Materials - Medicines -->
              <div class="card-footer">
                <ng-container *ngIf="item.volunteers || item.vehicles; then volunteersStatus else notVolunteersStatus">
                </ng-container>


                <ng-template #volunteersStatus>
                  <span [ngClass]="[item.availability == false ? 'status-out_of_stock2' : 'status-with_stock2']">

                    <p *ngIf="item.availability  && item.enabled" class="disponible">
                      DISPONIBLE
                    </p>

                    <p *ngIf="!item.availability && item.enabled" class="disponible">
                      NO DISPONIBLE
                    </p>

                    <p *ngIf="!item.enabled" class="disponible">
                      Deshabilitado
                    </p>

                  </span>
                </ng-template>


                <div *ngIf="item.medicines" class="expiration-date text-muted">
                  <small>
                    <span>Fecha de vencimiento:
                    </span>
                  </small>
                  <small>
                    <span>{{ item.medicines.medicineExpirationDate}}</span>
                  </small>
                </div>

              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>


    <div *ngIf="!(data | async)?.length || (service.loading$ | async)">
      <!-- ******************* Spinner - se debe refactorizar  **************************-->
      <div *ngIf="(service.loading$ | async)" colspan="7" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </div>

    </div>
    <div class="d-flex justify-content-between p-2">
      <div class="pagination">
        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">>
        </ngb-pagination>
      </div>

      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="5">5 items por página</option>
        <option [ngValue]="15">15 items por página</option>
        <option [ngValue]="25">25 items por página</option>
        <option [ngValue]="(total$ | async)">Todos los items</option>
      </select>
    </div>

  </section>

  <!-- <ng-template #popMenu>
    <button type="button" class="btn btn-option  btn-sm">
      <mat-icon class="icon">mode_edit</mat-icon><span class="option-text">Actualizar datos</span>
    </button>

    <button type="button" class="btn btn-option  btn-sm">
      <mat-icon class="icon">picture_as_pdf</mat-icon><span class="option-text">Descargar datos</span>
    </button>

    <button *ngIf="false" type="button " class="btn btn-option-warning  btn-sm">
      <mat-icon class="icon">person_remove</mat-icon>
      <span class="option-text">Deshabilitar usuario</span>
    </button>
    <button *ngIf="false" type="button " class="btn btn-option-success  btn-sm">
      <mat-icon class="icon">person_add</mat-icon>
      <span class="option-text">Habilitar usuario</span>
    </button>
    <button type="button " class="btn btn-option-warning  btn-sm">
      <mat-icon class="icon">delete</mat-icon>
      <span class="option-text">Eliminar usuario</span>
    </button>
  </ng-template> -->
</div>
