* {
  outline: none;

  /* box-sizing: border-box; */
}

.head {
  margin: 15px 10px 30px 35px;
}

.head h1 {
  text-align: center;
}
.bd-highlight{
  display: flex;
  justify-content: flex-start;
}
#search {
  margin-right: 3em;
}

.col-body, .col-aside {

  background-color: white;
  border-radius: 10px;

}

.medicine-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.vehicles-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#row-aside {
  max-width: 100%;
  margin: 1em 3.5em;
}

ul {
  list-style-type: none;
}

.card-out_of_stock {
  filter: grayscale(0.4) opacity(0.4);
}

.card {
  margin-top: 1.5em;
  height: 100%;
}

.card-body {
  margin-top: 10px;
  text-align: center;
  padding: 0 !important;
}

.card-body>h2 {
  font-size: 15px;
  line-height: 15px !important;
  margin: 0 !important;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

/*
.imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
  min-height: 100px;
  max-height: 216px;

} */

.card-header {
  background-color: white;
}

.card-footer {
  display: flex;
  flex-direction: column;
}

.status-button {
  display: flex;
  flex-direction: row;
}

.status {
  height: 26px;
  width: 100%;
  overflow: hidden;
}

.expiration-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.title h1 {
  margin-top: 2rem;
  font-size: 35px;
}

textarea:focus, input:focus{
  outline: none;
}
input{
  outline: none;
  border: none;
}

span button {
  font-weight: 700;
  color: #fff;
  font-size: 15px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  border-radius: 4px;
  padding: 5px;
  width: 50%;
}

.disponible {
  font-weight: 700;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover .hov span button {
  bottom: 20%;
  opacity: 1;
  background: #000;
  border: none;
}

.layer:hover .hov span p {
  bottom: 30%;
  opacity: 1;
  border: none;
}

.layer:hover .hov .status-with_stock button {
  background: rgb(100, 175, 100);
  border: none;
}



.status span {
  border: 1px solid #ccc;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 3px;
  font-size: 14px;
  display: inline-block;
  padding: 0 4px;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

.campus-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.layer>p {
  background: rgba(204, 204, 204, 0.487);
}

.layer:hover {
  background: rgba(204, 198, 198, 0.898);
  opacity: .87;
  color: #000 !important;
  cursor: pointer;
}

.layer .hov p {
  font-weight: 800;
  color: #000;
  font-size: 12px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  position: absolute;
  transition: 0.5s;
  width: 90%;
}

.layer:hover .hov p {
  bottom: 45%;
  text-align: center;
  opacity: 1;
}

.layer:hover .hov p {
  line-height: 19px;
}

img {
  width: 100%;
  background-size: cover;
}

@media screen and (max-width: 1200px) {

  .campus-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 738px) {
  .row {
    justify-content: center;
  }

  .campus-col {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}