<section class="title">
    <h1>Alertas</h1>
</section>


<section class="row justify-content-around col-body" id="row-aside">

    <div class="d-flex justify-content-around row col-12">

        <div class="child-toggle">
            <mat-slide-toggle color="warn" (change)="getcheckStatus($event)">Mostrar emergencias inactivas
            </mat-slide-toggle>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Tipo de Emergencia</mat-label>
            <mat-select>
                <mat-option *ngFor="let emergency of arraytypeEmergencyDisaster" [value]="emergency.id"
                    (click)="selectTypes(emergency.id)">
                    {{emergency.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Boton para agregar -->
        <div class="col-4 col-xs-4 col-sm-auto ">
            <button mat-raised-button color="warn" [routerLink]="['/emergencias','agregar']">
                <mat-icon>add</mat-icon>
                Agregar emergencia
            </button>
        </div>
    </div>


    <div class="col-10">
        <list></list>
    </div>




</section>