<div class="Container">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <!---------------------------------------------- Recovery Password  ------------------------------------------>
    <div class="head">
      
      <h1 class="Title-1">Cambiar contraseña</h1>
      <img
        class="img"
        src="https://1.bp.blogspot.com/-XnYaCR8Oah4/XwzTOABWn3I/AAAAAAAABaY/-EyDoHPCIIQ6EAloBqlxoLnmyXWUu2DmwCLcBGAsYHQ/s320/cruzar.png"
      />
    </div>

    <div class="newPassword">
      <div class="icons">
        <!-- Añadir un icono de un ojo que permita poder visualizar la contraseña-->
        <div class="eye" style="position: relative; top: 50px; left: 250px">
          <span class="material-icons" matsuffix (click)="hide = !hide">
            {{ hide ? "visibility_off" : "visibility" }}</span
          >
        </div>

        <!------------------------------------Password------------------------------------>
        <!-- Añadir un icono de un ojo que permita poder visualizar la contraseña-->
        <input
          type="password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          required
          [ngClass]="{ 'is-invalid': submitted && r.password.errors }"
        />

        <label for="userPassword" class="labelPassword">
          <span class="contentPassword">Nueva contraseña</span></label
        >

        <div *ngIf="submitted && r.password.errors" class="invalid-feedback">
          <div *ngIf="r.password.errors.minlength">
            Debe tener minimo 8 caracteres
          </div>
          <div *ngIf="r.password.errors.maxlength">
            Debe tener maximo 16 caracteres
          </div>
          <div *ngIf="r.password.errors.required">
            La contraseña es obligatoria
          </div>
        </div>
      </div>
    

    <!------------------------------------Confirmar Password------------------------------------>
    <div class="icons">
      <!-- Añadir un icono de un ojo que permita poder visualizar la contraseña-->
      <div class="eye" style="position: relative; top: 50px; left: 250px">
        <span class="material-icons" matsuffix (click)="eyeHide = !eyeHide">
          {{ eyeHide ? "visibility_off" : "visibility" }}</span
        >
      </div>
      <!-- Añadir un icono de un ojo que permita poder visualizar la contraseña-->
      <input
        type="password"
        [type]="eyeHide ? 'password' : 'text'"
        formControlName="confirmPassword"
        required
        [ngClass]="{ 'is-invalid': submitted && resetForm.hasError('notIquals') }"
      />

      <label for="userPassword" class="labelPassword">
        <span class="contentPassword">Confirmar contraseña</span></label
      >

      <div
        *ngIf="submitted && passwordMatchValidator()"
        class="invalid-feedback"
      >
        <div *ngIf="resetForm.hasError('notIquals')">
          Las contraseñas deben coincidir
        </div>
      </div>

      
    </div>
  </div>
   
    <div class="buttons mt-4"> 
      <button type="submit" [disabled]="loading" class="btn m-2 btn-login">
        <span *ngIf="loading"><i class="fas fa-spinner fa-lg fa-spin"></i></span>
        <span *ngIf="!loading">Enviar</span>
      </button>
      <a class="btn" id="cancelar" type="reset" routerLink="/cliente/login"
        >Atras</a
      >
    </div>
  </form>
</div>
