<form>
  <div class="mb-3 row justify-content-between">
    <div class="pt-4 col-xs-3 col-sm-auto col-3 align-self-end">
      <div class="d-flex form-control align-items-center bd-highlight pr-3" id="search">
        <label for="col-4 table-filtering-search" class="pr-3 col-form-label">Busqueda</label>
        <input class="col-6 input-search" type="text" name="searchTerm" [(ngModel)]="service.searchTerm">
        <span class="col-2 text-center" *ngIf="service.loading$ | async"><i
            class="fas fa-spinner fa-lg fa-spin"></i></span>
      </div>
    </div>

    <div class="bd-highlight ml-3 col-xs-3 col-sm-auto col-3 align-self-end" *ngIf="isAdmin">
      <mat-slide-toggle color="warn" (change)="onShow($event)">Mostrar mis solicitudes</mat-slide-toggle>
    </div>


    <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button> -->


    <!-- <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog('solicitudes')">
        <mat-icon>picture_as_pdf</mat-icon>
        <span>Descargar solicitudes de la filial</span>
      </button>
    </mat-menu> -->

    <!-- <button type="button" class="btn btn-options  btn-sm" (click)="generatePDF()">
      <mat-icon class="icon">picture_as_pdf</mat-icon><span class="option-text">Descargar datos</span>
    </button> -->
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">#Legajo</th>
      <th scope="col">Numero de emergencia</th>
      <th scope="col">Tipo de emergencia</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Estado</th>
      <th scope="col">Solicitante</th>
      <th scope="col">Encargado</th>
      <th scope="col">Fecha de creación</th>
      <th scope="col">Más info</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="(request$ | async).length && !(loading$ | async)">
      <tr *ngFor="let request of request$ | async; index as i">

        <!-- <th scope="row">{{ i + 1 }}</th> -->
        <td>
          <ngb-highlight [result]="request.id" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="request.emergencyDisasterID | number" [term]="service.searchTerm">
          </ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="request.typeEmergencyDisasterName | titlecase" [term]="service.searchTerm">
          </ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="request.locationCityName" [term]="service.searchTerm">
          </ngb-highlight>
        </td>
        <td>
          <div class="text-center"
            [ngClass]="{'pendiente':request.condition == 'Pendiente', 'rechazada':request.condition == 'Rechazada', 'aceptada':request.condition == 'Aceptada'}">
            <ngb-highlight [result]="request.condition | titlecase" [term]="service.searchTerm"></ngb-highlight>
          </div>
        </td>
        <td><a type="button" matTooltip="Información del solicitante" matTooltipPosition="above" color="warn"
            (click)="openModal('employee',request.createdBy)" aria-label="Información del solicitante">

            <ngb-highlight [result]="request.createdByEmployee" [term]="service.searchTerm"></ngb-highlight>
          </a></td>
        <td>
          <a type="button" matTooltip="Información del encargado" matTooltipPosition="above" color="warn"
            (click)="openModal('employee',request.answeredBy)" aria-label="Información del encargado">

            <ngb-highlight [result]="request.answeredByEmployee" [term]="service.searchTerm"></ngb-highlight>
          </a>
        </td>
        <td>
          <ngb-highlight [result]="request.requestDate" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td><button mat-icon-button matTooltip="Ver más" matTooltipPosition="right" color="warn"
            (click)="openModal('info', i)" aria-label="Ver más">
            <mat-icon>info</mat-icon>
          </button></td>
      </tr>
    </ng-container>
    <tr *ngIf="!(request$ | async).length || (loading$ | async)">
      <td *ngIf="(loading$ | async)" colspan="9" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
      <td *ngIf="!(request$ | async).length && !(loading$ | async)" colspan="9" class="text-center">
        <p class="align-center">No hay solicitudes.</p>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>