<form>
  <div class="mb-3 row">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Busqueda:</label>
    <div class="col-xs-3 col-sm-auto">
      <div class="d-flex align-items-center ml-auto bd-highlight mr-3" id="search"> 
      <input class="form-control" type="text" name="searchTerm" [(ngModel)]="service.searchTerm">
      <span class="ml-3 text-center" *ngIf="service.loading$ | async" ><i class="fas fa-spinner fa-lg fa-spin"></i></span>

    </div>
    <div class="bd-highlight ml-3" *ngIf="isAdmin">  
      <mat-slide-toggle color="warn" (change)="onShow($event)">Mostrar mis solicitudes</mat-slide-toggle>
  </div>
  </div>

  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">#Legajo</th>
      <th scope="col">Numero de emergencia</th>
      <th scope="col">Tipo de emergencia</th>
      <th scope="col">Municipalidad</th>
      <th scope="col">Departamento</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Razón</th>
      <th scope="col">Estado</th>
      <th scope="col">Encargado</th>
      <th scope="col">Solicitante</th>
      <th scope="col">Fecha de creación</th>
      <th scope="col">i</th>



    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="(request$ | async).length && !(loading$ | async)">
      <tr *ngFor="let request of request$ | async; index as i">
        
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <ngb-highlight [result]="request.id" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="request.emergenciesDisasters.emergencyDisasterID | number" [term]="service.searchTerm">
          </ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="request.emergenciesDisasters.typesEmergenciesDisasters.typeEmergencyDisasterName | titlecase"
            [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="request.emergenciesDisasters.locations.locationMunicipalityName"
            [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="request.emergenciesDisasters.locations.locationDepartmentName" [term]="service.searchTerm">
          </ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="request.emergenciesDisasters.locations.locationCityName" [term]="service.searchTerm">
          </ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="request.description | titlecase" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="request.condition | titlecase" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td><a matTooltip="Información del encargado" matTooltipPosition="above" color="warn"
            (click)="openModal('employee',request.users.userID)" aria-label="Información del encargado">

            <ngb-highlight [result]="request.users.name" [term]="service.searchTerm"></ngb-highlight>
          </a></td>
        <td>
          <ngb-highlight [result]="request.users.name | titlecase" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="request.requestDate" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td  ><button mat-icon-button matTooltip="Ver más" matTooltipPosition="right" color="warn"
            (click)="openModal('info', i)" aria-label="Ver más">
            <mat-icon>info</mat-icon>
          </button></td>
      </tr>
    </ng-container>
    <tr *ngIf="!(request$ | async).length || (loading$ | async)">
      <td *ngIf="(loading$ | async)" colspan="13" class="text-center" >
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
      <td *ngIf="!(request$ | async).length" colspan="13" class="text-center">
        <p class="align-center">No hay solicitudes.</p>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>