input{
    border: none;

}
textarea:focus, input:focus{
    outline: none;
  }

  #search{
      max-width: 343px;
  }
  .pendiente{
      border: 1px solid white;
      border-radius: 300px;
      background-color: #ffff0b;
  }

  .aceptada{
    border: 1px solid white;
    border-radius: 300px;
    background-color: #67df93;
  }

  .rechazada{
    border: 1px solid white;
    border-radius: 300px;
    background-color: #f44d41;
  }