<!-- Card -->
<span class="mr-3 text-center" *ngIf="selectTypesEmergencyDisasterService.loading$ | async"><i
        class="fas fa-spinner fa-lg fa-spin"></i></span>


<div class="card" *ngFor="let emergency of emergencyDisasterObservable | async index as i"
    [ngStyle]="{backgroundColor: getCardColor(emergency.alerts.alertID)}" #tooltip="matTooltip"
    matTooltip="Ver más información" matTooltipPosition="above"
    aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">




    <div class="content-left">
        <div [ngClass]="{'cuadrado': emergency.alerts.alertID === 1,
                'triangulo': emergency.alerts.alertID === 2,
              'circulo': emergency.alerts.alertID === 3}">

            <img src="../../../assets/icons - Resources - EmergDesas/{{emergency.typesEmergenciesDisasters.typeEmergencyDisasterIcon}}.svg"
                alt="" class="img">
        </div>
        <p>{{emergency.typesEmergenciesDisasters.typeEmergencyDisasterName}}</p>
    </div>

    <div class="content-center" [routerLink]="['despliegue', emergency.emergencyDisasterID]">
        <div class="child">
            <p>#{{emergency.emergencyDisasterID}}
                <span>{{emergency.locationsEmergenciesDisasters.locationCityName}}</span></p>

        </div>
    </div>

    <div class="content-right">
        <div class="child-2">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog(i, 'Editar')" *ngIf="!emergency.emergencyDisasterEndDate">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                </button>
                <button mat-menu-item (click)="deleteModal(i, 'Eliminar')">
                    <mat-icon>delete</mat-icon>
                    <span>Eliminar</span>
                </button>

                <button mat-menu-item (click)="openDialog(i, 'Finalizar')" *ngIf="!emergency.emergencyDisasterEndDate">
                    <mat-icon>check_box</mat-icon>
                    <span>Finalizar emergencia</span>
                </button>
            </mat-menu>

            <div class="child-2p">
                <p *ngIf="!emergency.emergencyDisasterEndDate">Activo</p>
                <p *ngIf="emergency.emergencyDisasterEndDate">Inactivo</p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="(emergencyDisasterObservable | async).length == 0" class="text-center">
    <p class="align-center">No hay emergencias</p>
</div>


<div class="d-flex justify-content-between p-2 mt-4">
    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="selectTypesEmergencyDisasterService.page"
        [pageSize]="selectTypesEmergencyDisasterService.pageSize">
    </ngb-pagination>

    <select class="form-select" style="width: auto" name="pageSize"
        [(ngModel)]="selectTypesEmergencyDisasterService.pageSize">
        <option [ngValue]="4">4 emergencias por pagina</option>
        <option [ngValue]="6">6 emergencias por pagina</option>
        <option [ngValue]="10">10 emergencias por pagina</option>
    </select>
</div>