<div class="title">
    <h2>Informacion de la Emergencia y Desastre</h2>
</div>


<form class="example-form" [formGroup]="emergencyDisasterForm" (ngSubmit)="onSubmit()">

    <div class="form">

        <div class="col-6 rigth">
            <!-- <mat-icon mat-raised-button #tooltip="matTooltip" matTooltip="Cambiar estado de alerta"
                matTooltipPosition="right"
                aria-tooltip="Button that displays and hides a tooltip triggered by other buttons"
                [ngStyle]="{color: alertColor(emergencyDisaster.alerts.alertDegree)}">notifications</mat-icon> -->


            <!--  <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Estado: </mat-label>

                <mat-select formControlName="FK_AlertID" (change)="setRole()">

                    <mat-option *ngFor="let item of alerts" [value]="item.iD">
                        {{item.AlertDegree}}
                    </mat-option>

                </mat-select>
            </mat-form-field> -->

            <div class="form-row" formGroupName="alerts">
                <div class="form-group col">
                    <label for="alert" class="first"><strong class="info">Estado: </strong></label>
                    <select formControlName="alertDegree" (change)="setRole()" class="form-control info">
                        <option *ngFor="let item of alerts" [ngValue]="item.alertDegree">
                            {{item.alertDegree}}
                        </option>
                    </select>

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label for="Fk_EmplooyeeID" class="first"><strong class="info">Responsable: </strong></label>
                    <select formControlName="Fk_EmplooyeeID" (change)="changeEmployeedID()" class="form-control info">
                        <option *ngFor=" let item of user" [ngValue]="item.employeeID">
                            {{item.users.userDni}} -
                            {{item.users.persons.firstName}}
                            {{item.users.persons.lastName}}
                        </option>
                    </select>
                </div>
            </div>



            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="emergencyDisasterInstruction">Descripción: </mat-label>
                <textarea matInput id="emergencyDisasterInstruction" name="emergencyDisasterInstruction"
                    formControlName="emergencyDisasterInstruction"
                    [(ngModel)]="emergencyDisaster.emergencyDisasterInstruction"></textarea>
            </mat-form-field>
        </div>


        <div class="col-6" formGroupName="victims">
            <mat-form-field appearance="fill" class="example">
                <mat-label for="affectedLocalities">Localidades afectadas</mat-label>
                <input formControlName="affectedLocalities" matInput type="number" min="10"
                    [(ngModel)]="emergencyDisaster.victims.affectedLocalities">
            </mat-form-field>


            <mat-form-field appearance="fill" class="example">
                <mat-label>barrios afectadas</mat-label>
                <input formControlName="affectedNeighborhoods" matInput type="number" min="10"
                    [(ngModel)]="emergencyDisaster.victims.affectedNeighborhoods">
            </mat-form-field>


            <mat-form-field appearance="fill" class="example">
                <mat-label>Personas asisitidas</mat-label>
                <input formControlName="assistedPeople" matInput type="number" min="10"
                    [(ngModel)]="emergencyDisaster.victims.assistedPeople">
            </mat-form-field>

            <mat-form-field appearance="fill" class="example">
                <mat-label>Personas evacuadas</mat-label>
                <input formControlName="evacuatedPeople" matInput type="number" min="10"
                    [(ngModel)]="emergencyDisaster.victims.evacuatedPeople">
            </mat-form-field>

            <mat-form-field appearance="fill" class="example">
                <mat-label>Cantidad de afectados</mat-label>
                <input formControlName="numberAffected" matInput type="number" min="10"
                    [(ngModel)]="emergencyDisaster.victims.numberAffected">
            </mat-form-field>

            <mat-form-field appearance="fill" class="example">
                <mat-label>Personas fallecidas</mat-label>
                <input formControlName="numberDeaths" matInput type="number" min="10"
                    [(ngModel)]="emergencyDisaster.victims.numberDeaths">
            </mat-form-field>

            <mat-form-field appearance="fill" class="example">
                <mat-label>Familias afectadas</mat-label>
                <input formControlName="numberFamiliesAffected" matInput type="number" min="10"
                    [(ngModel)]="emergencyDisaster.victims.numberFamiliesAffected">
            </mat-form-field>

            <mat-form-field appearance="fill" class="example">
                <mat-label>Personas recuperadas</mat-label>
                <input formControlName="recoveryPeople" matInput type="number" min="10"
                    [(ngModel)]="emergencyDisaster.victims.recoveryPeople">
            </mat-form-field>

            <mat-form-field appearance="fill" floatLabel="always" class="example">
                <mat-label>Daños materiales</mat-label>
                <input formControlName="materialsDamage" matInput type="number" class="example-right-align"
                    [(ngModel)]="emergencyDisaster.victims.materialsDamage">
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>
        </div>
    </div>




    <div mat-dialog-actions class="buttons">
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-button cdkFocusInitial (click)="updateEmergency(emergencyDisaster)">Guardar cambios</button>
    </div>
</form>