.example-form {
    min-width: 600px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.alert1 {
    color: #FADBD8;
}

.alert2 {
    color: #FCF3CF;

}

.alert3 {
    color: #D5F5E3;
}

.mat-icon {
    cursor: pointer;
}

textarea {
    height: 250px;
}

::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
}

.form {
    display: flex;
}

.example {
    width: 47%;
    margin-left: 13px;
}

.title {
    display: flex;
    justify-content: space-evenly;
    margin: 0 12px;
}


.title h2 {
    flex: 2;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}