<form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="emergencyDisasterForm">

    <div>
        <mat-icon mat-raised-button #tooltip="matTooltip" matTooltip="Cambiar estado de alerta"
            matTooltipPosition="right"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons"
            [ngStyle]="{color: alertColor(emergencyDisaster.alerts.alertDegree)}">notifications</mat-icon>
    </div>


    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="name">Responsable: </mat-label>
            <input matInput id="name" name="name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="instruction">Instrucciones: </mat-label>
            <textarea matInput id="instruction" name="instruction" formControlName="instruction"></textarea>
        </mat-form-field>

    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-button cdkFocusInitial>Guardar cambios</button>
    </div>
</form>