.col-body {
    background: #fff;
    border-radius: 10px;
    padding: 20px 0;
}

#row-aside {
    max-width: 100%;
    margin: 1em 3.5em;
    height: 88vh;
}

h3 {
    font-size: 20px;
}


.area {
    margin-top: 24rem;

}

/* .example-full-width {
    width: 95%;
} */

textarea {
    height: 250px;
}

.example-full-width {
    width: 100%;
    margin: 10px;
}

.Step2 {
    display: flex;
    margin-top: 1rem;
    padding:10px;
}

.example {
    width: 47%;
    margin-left: 13px;
}

.btn-button {
    z-index: 10000;
    position: relative;
    text-align: right;
}

.btn2 {
    margin-right: 30px !important;
}