<section class="modo">
  <mat-tab-group mat-align-tabs="center" headerPosition="below">
    <mat-tab label="1">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

          <h2>Despliegue de Terreno
          </h2>

          <h4>
            {{emergencyDisaster.locations.locationCityName}} -
            {{emergencyDisaster.typesEmergenciesDisasters.typeEmergencyDisasterName}}
          </h4>

          <div class="date">
            <p>
              <mat-icon class="calendar">calendar_today</mat-icon>
              <span>Fecha de inicio: {{emergencyDisaster.emergencyDisasterStartDate | date: 'dd/MM/yyyy hh:mm:ss
                a'}}</span>
            </p>
            <p>
              <mat-icon>calendar_today</mat-icon>
              <span class="calendar-end">Fecha final: {{emergencyDisaster.emergencyDisasterEndDate}}</span>
            </p>
          </div>

          <div class="date">
            <p>
              <mat-icon class="person">person</mat-icon>
              <span>Responsable:
                {{emergencyDisaster.employees.name}}
              </span>
            </p>
          </div>


          <div class="date map-container">
            <div class="location map-frame">
              <div id="map">

              </div>
            </div>


            <div class="instruction location">
              {{emergencyDisaster.emergencyDisasterInstruction}}
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="2">

      <table class="table table-striped">
        <!--      <thead>
          <tr>
            <th scope="col">Country</th>
            <th scope="col">Area</th>
            <th scope="col">Population</th>
          </tr>
        </thead> -->

        <!--     <tbody *ngFor="let item of emergencyDisaster">
          <tr
            *ngFor="let item2 of item['resources_Requests']['resources_RequestResources_Materials_Medicines_Vehicles']">
            <td>
              {{item2}}
            </td>
            <td>dasdsadsad</td>
            <td>asdasdsadasdads</td>
          </tr>
        </tbody> -->
      </table>


    </mat-tab>
    <mat-tab label="3"> Content 3 </mat-tab>
  </mat-tab-group>
</section>