<div class="d-flex" style="flex-direction: column;">
    <div>

        <div *ngIf="tipo == 'solicitudes'">
            <h4>Seleccioné el tipo de solicitud a consultar</h4>
            <mat-form-field appearance="fill">
                <mat-label>Seleccioné una opción</mat-label>
                <mat-select [(value)]="selected" (valueChange)="select()">
                    <mat-option value="Aceptada">Aceptadas</mat-option>
                    <mat-option value="Rechazada">Rechazadas</mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <!-- <mat-form-field appearance="fill" *ngIf="tipo == 'solicitudes'">
            <mat-label>Tipo de Emergencia</mat-label>
            <mat-select>
                <mat-option *ngFor="let employee of arrayRequest" [value]="employee.id"
                    (click)="selectTypes(employee.id)">
                    {{employee.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field appearance="fill" *ngIf="tipo == 'solicitudes'">
            <mat-label>Tipo de Emergencia</mat-label>
            <mat-select>
                <mat-option *ngFor="let emergency of arrayRequest" [value]="emergency.emergnecyId"
                    (click)="selectTypesEmergency(emergency.emergnecyId)">
                    {{emergency.emergencyName}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->


        <mat-form-field appearance="fill" style="margin-top: 3rem;">
            <mat-label>Seleccioné una fecha desde </mat-label>
            <input matInput [max]="maxDate" [matDatepicker]="picker" (dateChange)="dates($event)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="fill" style="margin-left: 20px;">
            <mat-label>Seleccioné una fecha hasta</mat-label>
            <input matInput [matDatepicker]="mypicker" [max]="maxDate" (dateChange)="dateEnd($event)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="mypicker"></mat-datepicker-toggle>
            <mat-datepicker #mypicker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="d-flex justify-content-end">
          <!-- [disabled]="loading" -->
        <button
        hidden
         mat-stroked-button
          color="warn"
          style="margin-right: 10px;"
          disabled
          (click)="generatePDF()"
          >
          <span class="text-center" *ngIf="loading">
            <i class="fas fa-spinner fa-lg fa-spin"> </i>
          </span>
            <mat-icon>
                picture_as_pdf
            </mat-icon>
            Descargar **REFACTORIZAR**
        </button>
    </div>

</div>
