<section class="title">
  <h1>Solicitudes de recursos</h1>
</section>


<section class="row justify-content-around col-body" id="row-aside">

  <!-- <mat-form-field appearance="fill">
    <mat-label>Solicitudes por emergencias</mat-label>
    <mat-select> -->
      <!-- <mat-option *ngFor="let emergency of emergencyDisaster"
          [value]="emergency.typesEmergenciesDisasters.typeEmergencyDisasterID">
          {{emergency.typesEmergenciesDisasters.typeEmergencyDisasterName}}
        </mat-option> -->
    <!-- </mat-select>
  </mat-form-field> -->



  <div class="col-10">
    <request-table></request-table>
  </div>

</section>