<section class="Resources">

  <div class="title">
    <h1>Solicitud de recursos</h1>
  </div>
  <div class="container1">
    <div class="card-general">
      <div class="card">
        <a class="a-card" [routerLink]="['/recursos','lista', 'materiales']">
          <!-- Una tarjeta -->
          <div class="card-image"></div>

          <div class="card-image-resoursec">
            <img src="https://i.imgur.com/DSI3RhV.png" alt="">
          </div>

          <div class="card-content">
            <h3>Materiales</h3>
            <div class="arrow">
              <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">

            </div>
          </div>
        </a>
      </div>
<!--
      <div class="card">
        <a class="a-card" [routerLink]="['/recursos','lista', 'voluntarios']"> -->
          <!-- Una tarjeta -->
          <!-- <div class="card-image"></div>

          <div class="card-image-resoursec">
            <img src="https://i.imgur.com/JWMVFDp.png" alt="">
          </div>

          <div class="card-content">
            <h3>Voluntarios</h3>
            <div class="arrow">
              <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">

            </div>
          </div>
        </a>
      </div> -->
      <div class="card">
        <a class="a-card" [routerLink]="['/recursos','lista', 'medicamentos']">
          <!-- Una tarjeta -->
          <div class="card-image"></div>

          <div class="card-image-resoursec">
            <img src="https://i.imgur.com/lniLa4I.png" alt="">
          </div>

          <div class="card-content">
            <h3>Medicamentos</h3>
            <div class="arrow">

              <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">

            </div>

          </div>
        </a>
      </div>
      <div class="card">
        <a class="a-card" [routerLink]="['/recursos','lista', 'vehiculos']">
          <!-- Una tarjeta -->
          <div class="card-image"></div>

          <div class="card-image-resoursec">
            <img src="https://i.imgur.com/Sk9TiUn.png" alt="">
          </div>

          <div class="card-content">
            <h3>Vehiculos</h3>
            <div class="arrow">
              <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">

            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
