<div class="search-container">
    <div class="search">
        <!--         <mat-icon routerLink="/emergencias/agregar-emergencia-desastre">arrow_back</mat-icon>
 -->
   <input type="text" class="form-control" placeholder="Buscar lugar" #txtQuery value="{{place}}"
   (keyup)="onQueryChange(txtQuery.value)" (eventoLocation)="getMensaje2($event)">

        <btn-my-location (eventoLocation)="getMensaje2($event)"></btn-my-location>

        <mat-icon (click)="goToMyLocation()">location_on</mat-icon>
          </div>

    <search-result (evento)="getMensaje($event)"></search-result>


</div>
