<header>
  <div class="col-12 title">
    <h1>Registro de usuario</h1>
</div>
</header>
<div class="row justify-content-around" id="row-aside">
  <section  class="col-12 col-body">
    <form [formGroup]="registerForm" id="form">
      <mat-horizontal-stepper linear #stepper>
        <mat-step
          [stepControl]="formPerson"
          formGroupName="persons"
          errorMessage="Datos son requeridos.">
          <ng-template matStepLabel>Datos personales</ng-template>






          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile colspan="1" rowspan="3">

              <div class="imagen-class row ">
                <div class="custom-file fileInputProfileWrap col-12">
                  <input type="file" (change)="selectFiles($event)" class="fileInputProfile">
                  <div class="img-space">

                    <ng-container *ngIf="previews else elseTemplate">
                      <img [src]="previews" class="img-responsive">
                    </ng-container>
                    <ng-template #elseTemplate>
                      <img src="https://i.imgur.com/S9HJEwF.png" class="img-responsive">
                    </ng-template>
                  </div>
                </div>

                <div *ngFor="let progressInfo of progressInfos" class="col-12 mt-2">
                  <span *ngIf="message.length">{{ message }} </span>
                  <mat-toolbar class="progress-bar">
                    <mat-progress-bar color="accent" [value]="progressInfo.value"></mat-progress-bar>
                    <span class="progress">{{ progressInfo.value }}%</span>
                  </mat-toolbar>
                </div>
              </div>

            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
              <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input
                  matInput
                  placeholder="Nombre completo"
                  formControlName="firstName"
                  required
                />
                <mat-error
                  *ngIf="
                    formPerson.get('firstName').hasError('pattern') &&
                    !formPerson.get('firstName').hasError('required')
                  "
                >
                  Por favor ingresar un nombre valido
                </mat-error>
                <mat-error
                  *ngIf="formPerson.get('firstName').hasError('required')"
                >
                  El nombre es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <br />
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Apellido</mat-label>
                <input
                  matInput
                  placeholder="Apellido completo"
                  formControlName="lastName"
                  required
                />
                <mat-error
                  *ngIf="
                    formPerson.get('lastName').hasError('pattern') &&
                    !formPerson.get('lastName').hasError('required')
                  "
                >
                  Por favor ingresar un apellido valido
                </mat-error>
                <mat-error
                  *ngIf="formPerson.get('lastName').hasError('required')"
                >
                  El apellido es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <br />
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Ubicación</mat-label>
                <input
                  matInput
                  placeholder="Ex. Córdoba"
                  formControlName="locationName"
                  required
                />
                <mat-error *ngIf="formPerson.get('locationName').hasError('required')">
                  La Ubicación es <strong>requerida</strong>
                </mat-error>
                <mat-error
                *ngIf="formPerson.get('locationName').hasError('maxlength') &&
                !formPerson.get('locationName').hasError('required')"
              >
                Ha superado los 20 caracteres permitidos
              </mat-error>
              </mat-form-field>
              </mat-grid-tile>
              <br />
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Dirección</mat-label>
                <input
                  matInput
                  placeholder="Ex. Calle, Numero, Dpto/Lote/Portero"
                  formControlName="address"
                  required
                />
                <mat-error
                  *ngIf="formPerson.get('address').hasError('required')"
                >
                  La dirección es <strong>requerida</strong>
                </mat-error>
                <mat-error
                *ngIf="formPerson.get('address').hasError('maxlength') &&
                !formPerson.get('address').hasError('required')"
              >
                Ha superado los 50 caracteres permitidos
              </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <br />

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Email de contacto</mat-label>
                <input
                  matInput
                  placeholder="Correo electronico"
                  formControlName="email"
                  required
                />
                <mat-error
                  *ngIf="
                    formPerson.get('email').hasError('email') &&
                    !formPerson.get('email').hasError('required')
                  "
                >
                  Por favor ingresar un email valido
                </mat-error>
                <mat-error *ngIf="formPerson.get('email').hasError('required')">
                  Email es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <br />
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Telefono de contacto</mat-label>
                <input
                  matInput
                  placeholder="351 5954878"
                  formControlName="phone"
                  type="tel"
                  required
                />
                <mat-error
                  *ngIf="
                    formPerson.get('phone').hasError('pattern') &&
                    !formPerson.get('phone').hasError('required')
                  "
                >
                  Por favor ingresar un telefono valido
                </mat-error>
                <mat-error *ngIf="formPerson.get('phone').hasError('required')">
                  El telefono es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <br />
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Genero</mat-label>
                <mat-select
                  [formControl]="formPerson.get('gender')"
                  name="gender"
                  required

                >
                  <mat-option
                    *ngFor="let gender of genre"
                    [value]="gender.value"
                  >
                    {{ gender.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formPerson.get('gender').hasError('required')"
                >
                  El genero es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <br />
            <mat-grid-tile>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Fecha de nacimiento</mat-label>
                <input
                  matInput
                  required
                  [formControl]="formPerson.get('birthdate')"
                  [min]="minDate"
                  [max]="maxDate"
                  [matDatepicker]="picker"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                  *ngIf="formPerson.get('birthdate').hasError('required')"
                >
                  La fecha es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <br />

          </mat-grid-list>
          <div class="btn">
            <button mat-button (click)="location.back()" type="button">Cancelar</button>
            <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            <!-- <button mat-button matStepperNext type="button">Siguiente</button> -->
          </div>
        </mat-step>

        <mat-step
          [stepControl]="formUser"
          errorMessage="Todos los datos son requeridos"
        >
          <ng-template matStepLabel>Datos laborales</ng-template>
          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Documento</mat-label>
                <input
                  matInput
                  placeholder="Documento de identidad"
                  formControlName="userDni"
                  required
                />
                <mat-error
                  *ngIf="
                    formUser.get('userDni').hasError('pattern') &&
                    !formUser.get('userDni').hasError('required')
                  "
                >
                  Por favor ingresar un documento valido
                </mat-error>
                <mat-error *ngIf="formUser.get('userDni').hasError('required')">
                  El documento es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <br />

            <mat-grid-tile>
              <mat-form-field appearance="outline">
                <mat-label>Cargo</mat-label>
                <mat-select
                  [formControl]="formUser.get('FK_RoleID')"
                  name="FK_RoleID"
                >
                  <mat-option
                    placeholder="Cargo en la organización"
                    *ngFor="let role of roles"
                    [value]="role.roleID"
                    required
                  >
                    {{ role.RoleName }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formUser.get('FK_RoleID').hasError('required')"
                >
                  El cargo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <br />
            <mat-grid-tile>
              <mat-form-field appearance="outline">

                  <mat-label>Ubicación</mat-label>
                  <mat-select [formControl]="formUser.get('FK_LocationID')" name="FK_LocationID">
                    <mat-option *ngFor="let location of locations" [value]="location.locationID" required>
                      {{location.locationCityName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formUser.get('FK_LocationID').hasError('required')">
                   La Ubicación es <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
              <br />
            <mat-grid-tile  >
              <mat-form-field  appearance="outline">
                <mat-label>Sucursal</mat-label>
                <mat-select

                  [formControl]="formUser.get('FK_EstateID')"
                  name="FK_EstateID"
                >
                  <mat-option>-- Seleccioné su lugar de trabajo --</mat-option>
                  <mat-optgroup
                    *ngFor="let locations of estates"
                    [label]="locations.locationCityName"
                  >
                    <mat-option
                      *ngFor="let estate of locations['estates']"
                      [value]="estate.estateID"
                      required
                    >
                      {{ estate.address}} - {{ estate.estateTypes}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
                <mat-error
                  *ngIf="formUser.get('FK_EstateID').hasError('required')"
                >
                  La filial es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <br />
          </mat-grid-list>

          <div class="btn">
            <button mat-raised-button matStepperPrevious type="button" class="atras">Atras</button>
            <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Ultimo paso</ng-template>
          <div>
            <p class="text-center texto">Le recomendamos que revise los datos antes de finalizar</p>
          </div>
          <div class="button">
            <button mat-raised-button matStepperPrevious type="button">Atras</button>
            <button mat-button (click)="stepper.reset()">Resetear</button>

            <button mat-raised-button color="primary"
              mat-button
              type="submit"
              [disabled]="loading"
              (click)="onSubmit()"
            >
              <span class="text-center" *ngIf="loading">
                <i class="fas fa-spinner fa-lg fa-spin"> </i>
              </span>
              <span *ngIf="!loading">Finalizar</span>
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </section>
</div>
