    --------------Cart ------- 
   .form-cart{
       display: flex;
       flex-direction: column;
       justify-content: center;
    max-width: 100px;
    width: 100%;
    margin-top: 10px !important;
    }

    img{
        height: 100%;
        background-attachment: cover;
    }
    textarea{
        /* resize: none; */
        height: 40px;
    }
    .input-form-cart{
    width: 250px;
    }

    .button{
        flex-direction: column;
    }

    .card-group{
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        max-width: 250px;
        display: flow-root !important;
    }
        .card{
        width: 252px;
        margin-top: 5px;
        }

        
        .list-group-item{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: baseline;
        }
     /*    ::-webkit-scrollbar {
            width: calc(100% + 20px);
        } */

        .row{
            flex-wrap: nowrap !important;
        }

        .card-body{
            margin-left: 15px;
            padding: .25rem;
            width: 100%;
        }


        .card-body button{
            margin-left: 5.2rem;
        }


        h5{
            margin: 0 !important 

       }
.scrollbar {
	/* margin-left: 30px;
	float: left; */
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow {
	min-height: 450px;
}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
.notRender{
    border-radius: 10px;
    border: 1px solid #ced4da;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
}
.mat-icon1{
    margin: 10px;
    font-size: 45px;
}
.body-message{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
height: 250px;  
}
