<section class="head d-flex">
  <div class="col-4" style="margin-top: 2rem; margin-left: 2rem;">
    <button mat-raised-button (click)="onBack()">Atrás</button>
  </div>


  <div class="col-4 text-center">
    <h1>Informe de emergencia</h1>
  </div>

</section>
<loading *ngIf="!emergencyDisaster"></loading>
<div *ngIf="emergencyDisaster" class="col justify-content-around col-body" id="row-aside">
  <mat-horizontal-stepper linear #stepper>
    <mat-step>

      <section *ngIf="emergencyDisaster">

        <div style="display: flex; justify-content: end;">

          <h4 style="text-align: left; width: 80%;">
            #{{emergencyDisaster.emergencyDisasterID}}
            {{emergencyDisaster.locationsEmergenciesDisasters.locationCityName}} -
            {{emergencyDisaster.typesEmergenciesDisasters.typeEmergencyDisasterName}}
          </h4>
<!-- disabled]="loading" -->
          <button mat-fab color="warn" hidden aria-label="Example icon button with a home icon" disabled
            style="margin-top: 1rem;" (click)="generatePDF(emergencyDisaster.emergencyDisasterID)">
            <span class="text-center" *ngIf="loading">
              <i class="fas fa-spinner fa-lg fa-spin"> </i>
            </span>
            <mat-icon class="icon">picture_as_pdf</mat-icon> **REFACTORIZAR**
          </button>
        </div>
        <!-- 
          <button mat-fab color="warn" aria-label="Example icon button with a home icon" [disabled]="loading"
            (click)="generatePDF(emergencyDisaster.emergencyDisasterID)">
            <span class="text-center" *ngIf="loading">
              <i class="fas fa-spinner fa-lg fa-spin"> </i>
            </span>
            <mat-icon class="icon">picture_as_pdf</mat-icon>
          </button> -->

        <!-- <button mat-stroked-button color="warn" style="margin-right: 10px;" [disabled]="loading"
            (click)="generatePDF(emergencyDisaster.emergencyDisasterID)">
            <span class="text-center" *ngIf="loading">
              <i class="fas fa-spinner fa-lg fa-spin"> </i>
            </span>
            <mat-icon>
              picture_as_pdf
            </mat-icon>
            Descargar
          </button> -->


        <div class="date row justify-content-around" *ngIf="emergencyDisaster">

          <div class="col-4 align-self-end">
            <div class="justify-content-end mb-3">
              <p>
                <mat-icon class="calendar">calendar_today</mat-icon>
                <span>Fecha de inicio: {{emergencyDisaster.emergencyDisasterStartDate | date: 'dd/MM/yyyy hh:mm
                  a'}}</span>
              </p>
            </div>

            <div class="justify-content-end">
              <p>
                <mat-icon class="person">person</mat-icon>
                <span>Responsable:
                  {{emergencyDisaster.employeeName}}
                </span>
              </p>
            </div>

          </div>
          <div class="date employees col-4 align-self-start" *ngIf="emergencyDisaster">

            <div class="justify-content-end">
              <p class="text-right">
                <mat-icon>calendar_today</mat-icon>
                <span class="calendar-end" *ngIf="!emergencyDisaster.emergencyDisasterEndDate">
                  Esta emergencia no
                  ha sido finalizada</span>

                <span class="calendar-end" *ngIf="emergencyDisaster.emergencyDisasterEndDate">Fecha final:
                  {{emergencyDisaster.emergencyDisasterEndDate}}</span>
              </p>
            </div>
          </div>
        </div>


      </section>

      <section class="instructionMap">

        <div class="map-container">
          <!-- <div class="location map-frame"> -->
            <!-- <div id="map">
            </div>  -->
            <!-- <map>
            </map> -->
            <!-- <div #mapDiv class="map-container">
            </div> -->
            <mgl-map
            [style]="'mapbox://styles/mapbox/streets-v11'"
            [zoom]="[14]"
            [center]="[emergencyDisaster.locationsEmergenciesDisasters.locationlongitude, emergencyDisaster.locationsEmergenciesDisasters.locationlatitude]"
            trackProximity="true" (load)="onLoad($event)"
            doubleClickZoom="true">
            <mgl-marker [lngLat]="[emergencyDisaster.locationsEmergenciesDisasters.locationlongitude, emergencyDisaster.locationsEmergenciesDisasters.locationlatitude]">
            </mgl-marker>
             <mgl-layer
               id="state-borders"
               type="circle"
               [source]="source"
               [paint]="{
                 'circle-color': '#627BC1',
                 'circle-radius': 50,
                 'circle-opacity': 0.5,
                 'circle-pitch-scale' : 'viewport',
                 'circle-pitch-alignment':'viewport'
               }"
  ></mgl-layer> 
  <mgl-control mglNavigation></mgl-control>
  <mgl-control mglFullscreen></mgl-control>
  <mgl-control mglGeolocate showUserLocation="true" trackUserLocation="true"></mgl-control>
  
  <mgl-control mglScale unit="metric" position="top-right"></mgl-control>
          </mgl-map>
          <!-- </div> -->
        </div>


          <!-- <div style="display:block">
  
          </div> -->

        <div *ngIf="emergencyDisaster" class="instruction">

          <div class="location" *ngIf="!emergencyDisaster.emergencyDisasterInstruction">
            <p>No hay ninguna descripción por el momento</p>
          </div>

          <div class="location" *ngIf="emergencyDisaster.emergencyDisasterInstruction">
            {{emergencyDisaster.emergencyDisasterInstruction}}
          </div>
        </div>

        <div class="users col-10">
          <div class="titulo">
            <h2>Personas confirmadas</h2>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Legajo</th>
                <th scope="col">Nombre</th>
                <th scopee="col">Rol</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let user of users; index as i">
                <th scope="row">{{ i + 1 }}</th>

                <td>
                  {{ user.legajo }}
                </td>
                <td>
                  {{ user.name }}
                </td>
                <td>
                  {{ user.roleName }}
                </td>
              </tr>

              <tr>
                <td *ngIf="users.length == 0" colspan="7" class="text-center">
                  <p class="align-center">No hay usuarios en esta emergencia.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


      </section>
      <div class="btn-r">
        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <mat-step>
      <section class="instructionMap resources">

        <div class="titulo2">
          <h2>Recursos utilizados</h2>
        </div>
        <div class="users col-10" *ngIf="materials">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of materials; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  {{ item.materials.name }}
                </td>
                <td>
                  {{ item.materials.brand }}
                </td>
                <td>
                  {{ item.materials.quantity }}
                </td>
              </tr>
              <tr>
                <td *ngIf="materials.length == 0" colspan="7" class="text-center">
                  <p class="align-center">No hay materiales solicitados para esta emergencia.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="users col-10" *ngIf="medicines">
          <table class="table table-striped tabla">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Farmaco</th>
                <th scope="col">Laboratorio</th>
                <th scope="col">Peso/Volumen</th>
                <th scope="col">Cantidad usada</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of medicines; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  {{ item.medicines.name }}
                </td>
                <td>
                  {{ item.medicines.medicineDrug }}
                </td>
                <td>
                  {{ item.medicines.medicineLab }}
                </td>
                <td>
                  {{item.medicines.medicineWeight}} {{ item.medicines.medicineUnits }}
                </td>
                <td>
                  {{ item.medicines.quantity }}
                </td>
              </tr>
              <tr>
                <td *ngIf="medicines.length == 0" colspan="7" class="text-center">
                  <p class="align-center">No hay medicamentos solicitados para esta emergencia.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="users col-10" *ngIf="vehicles">
          <table class="table table-striped tabla">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Patente</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Año</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of vehicles; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  {{ item.vehicles.vehiclePatent }}
                </td>
                <td>
                  {{ item.vehicles.name }}
                </td>
                <td>
                  {{ item.vehicles.type }}
                </td>
                <td>
                  {{ item.vehicles.vehicleYear }}
                </td>
              </tr>

              <tr>
                <td *ngIf="vehicles.length == 0" colspan="7" class="text-center">
                  <p class="align-center">No hay vehiclos solicitados para esta emergencia.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <div class="btn-r d-flex justify-content-between">
        <button mat-raised-button color="warn"  matStepperPrevious type="button">Atras</button>
        <button mat-raised-button color="primary"  matStepperNext>Siguiente</button>
      </div>
    </mat-step>


    <section>

      <mat-step>

        <section *ngIf="emergencyDisaster">


          <div class="victim text-center">

            <mat-card class="example-card">
              <p> personas asisitidas: <span>{{emergencyDisaster.victims.assistedPeople}}</span></p>
            </mat-card>


            <mat-card class="example-card">
              <p>personas fallecidas: <span>{{emergencyDisaster.victims.numberDeaths}}</span></p>
            </mat-card>

            <mat-card class="example-card">
              <p>barrios afectados: <span>{{emergencyDisaster.victims.affectedNeighborhoods}}</span></p>
            </mat-card>

            <mat-card class="example-card">
              <p>localidades afectadas: <span>{{emergencyDisaster.victims.affectedLocalities}}</span></p>
            </mat-card>



            <mat-card class="example-card">
              <p>familias afectadas: <span>{{emergencyDisaster.victims.numberFamiliesAffected}}</span></p>
            </mat-card>


            <mat-card class="example-card">
              <p>personas evacuadas: <span>{{emergencyDisaster.victims. evacuatedPeople}}</span></p>
            </mat-card>

            <mat-card class="example-card">
              <p>daños materiales:<span>${{emergencyDisaster.victims.affectedNeighborhoods}}</span></p>
            </mat-card>

            <mat-card class="example-card">
              <p>personas afectadas: <span>{{emergencyDisaster.victims.numberAffected}}</span></p>
            </mat-card>

            <mat-card class="example-card">
              <p>personas recuperadas: <span>{{emergencyDisaster.victims.recoveryPeople}}</span></p>
            </mat-card>


          </div>
        </section>

        <div class="btn-r" style="margin-top: 4rem;">
          <button mat-raised-button color="secondary" matStepperPrevious type="button">Atras</button>
        </div>
      </mat-step>
    </section>
  </mat-horizontal-stepper>
</div>