:host ::ng-deep .mat-horizontal-stepper-header-container {
    display: none;
}


table {
    width: 100%;
}

.col-body {
    background: #fff;
    border-radius: 10px;
    padding: 20px 0;
}

#row-aside {
    max-width: 92%;
    margin: 1em 4.5em;
}

.modo {
    text-align: center;
}

.emergencia {
    text-align: center;
    display: grid;
    grid-template-columns: 61% 1fr;
    justify-items: end;
}

h1 {
    margin: 40px 0;
    width: 100%;
    font-size: 35px;
}

h4 {
    font-size: 25px;
    margin: 3rem 0;

}

.resources {
    flex-direction: column;
    margin-top: 1rem !important;
}

/* .date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
} */

/* .date p:nth-child(1) {
    text-align: left;
}

.date p:nth-child(2) {
    text-align: left;
} */

.date p span {
    font-size: 16px;
}

mat-icon {
    font-size: 20px;
}


.location {
    border: 1px solid #ccc;
    height: 300px;
}

/* .location:nth-child(1) {
    margin-left: 20px;
} */

.instruction {
    overflow-y: auto;
    width: 50%;
}


/* .date .calendar,
.date .person {
    margin-left: 20px;
} */

.date .calendar-end {
    margin-right: 20px;
}

#map {
    height: 100%;
}

.map-container {
    width: 36%;
}

.instructionMap {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.instruction {
    width: 500px;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.victim-img, .img {
    background: rgba(225, 35, 35, 0.549);
}

.victim .img {
    width: 10%;
}

.victim-img {
    width: 5%;
}

.victim {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.users {
    margin-top: 2rem;
}

.titulo {
    text-align: center;
    margin: 2rem 0;
}

.titulo2 {
    text-align: center;
    margin: 2rem 0;
}

.tabla {
    margin-top: 3rem;
}

.example-card {
    width: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin: 1rem;
}

.example-card p {
    text-transform: capitalize;
}

.example-card p span {
    display: block;
    font-size: 30px;
    margin-top: 1rem;
}

/* .employees {
    grid-template-columns: 1fr;
    justify-self: start;
    align-self: start;
} */