.tile{
    background: #e9ecef;
    /* padding: 10vh; */
    
  }

  .button-group button{
    margin-right: 8px;
  }

  /* .button-group .mat-form-field + .mat-form-field {
    margin-left: 8px;
  } */

  /* mat-grid-tile .row{ */
    /* width: 100%; */
  /* }  */

  .alertCard{
    border-radius: 10px;
    border: 1px solid #000;
    width: 100%;
  }

  .mat-grid-tile .mat-figure {

     align-items: center !important;  

}
.mat-card-header-text{
  width: 100% !important;
}
.example-card{
  width: 100%;
  margin: 0vh 2vw;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
  /* font-size: 24px; */
  margin-top: 0 !important;
  margin-left: 11px;
}

.advanced-pie-legend .total-label {
  /* font-size: 24px; */
  margin-bottom: 10px;
  margin-top: 10px !important;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-label {
  /* font-size: 14px; */
  opacity: .7;
  margin-left: 11px;
  margin-top: 0 !important;
}

.center4 {
  position: absolute;
  top: 50%;
  left: 85% !important;
  transform: translate(-50%, -50%);
}
