<div class="Container">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <!---------------------------------------------- Recovery Password  ------------------------------------------>
    <div class="head">
      <img class="img"
        src="https://1.bp.blogspot.com/-XnYaCR8Oah4/XwzTOABWn3I/AAAAAAAABaY/-EyDoHPCIIQ6EAloBqlxoLnmyXWUu2DmwCLcBGAsYHQ/s320/cruzar.png" />

      <h1 class="Title-1">Reestablecer contraseña</h1>
    </div>

    <div class="email">
      <!------------------------------------Correo Electronico------------------------------------>

      <input type="email" formControlName="email" autocomplete="off" required
        [ngClass]="{ 'is-invalid': submitted && r.email.errors }" />
      <label for="userEmail" class="labelEmail">
        <span class="contentEmail">Correo electronico</span></label>

      <div *ngIf="submitted && r.email.errors" class="invalid-feedback">
        <div *ngIf="r.email.hasError('required')">*Campo obligatorio</div>
        <div *ngIf="r.email.hasError('email')">Introduzca un email valido</div>
      </div>
    </div>

    <div class="buttons mt-3">
      <button type="submit" [disabled]="loading" class="btn m-2 btn-login">
        <span *ngIf="loading"><i class="fas fa-spinner fa-lg fa-spin"></i></span>
        <span *ngIf="!loading">Enviar</span>
      </button>

      <a class="btn" id="cancelar" type="reset" routerLink="/cliente/login">Atras</a>
    </div>
  </form>
</div>