<mat-card class="example-card">
    <mat-card-header class="d-flex flex-row align-items-center" style="width: 100%;">
      <!-- <div  > -->
           <div mat-card-avatar class="example-header-image pr-3">
        <span class="material-symbols-outlined">
            receipt_long
            </span>
    </div>
      <mat-card-title style="width: inherit;"><h2>{{title}}</h2></mat-card-title>
        <div class="d-flex justify-content-end align-items-start"> 
        <div class="example-header-image pl-3">
        <button mat-icon-button [routerLink]="['recursos','historial']">
           <mat-icon>chevron_right</mat-icon> 
            </button>
    </div>
  </div>
      <!-- </div> -->
     
     
    </mat-card-header>
      <hr/>
      <mat-card-content *ngIf="!isLoading">
        <ng-container *ngIf="data.length else noData">
            <mat-card *ngFor="let request of data; index as i" class="mb-3">
                <mat-grid-list cols="12" rowHeight="1.5:1">
                        <mat-grid-tile class="historys"  
                        colspan="11"
                        rowspan="2">
                         <div class="col-4 d-flex flex-column align-items-center ">
                             <p class="font-weight-bold pt-1">Solicitud #{{request.id}}</p>
                             <p class="">{{request.requestDate}}</p>
                        </div>
                        <div class="col-6 d-flex flex-column align-items-center">
                         <p class="pt-1">#{{request.emergenciesDisasters.emergencyDisasterID}}&nbsp;{{request.emergenciesDisasters.typesEmergenciesDisasters.typeEmergencyDisasterName}}</p> 
                         <p class="" [ngClass]="{'pendiente':request.condition == 'Pendiente', 'rechazada':request.condition == 'Rechazada', 'aceptada':request.condition == 'Aceptada'}">{{request.condition}}</p>
                      </div>
                      <div class="col-2" *ngIf="request.emergenciesDisasters.emergencyDisasterEndDate"><p class="font-weight-bold">Alerta finalizada</p> </div>
                    </mat-grid-tile>
                    <mat-grid-tile
                    colspan="1"
                    rowspan="2">
                     <div ><button mat-icon-button matTooltip="Ver más" matTooltipPosition="above" color="warn"
                      (click)="openModal(i)" aria-label="Ver más">
                      <mat-icon>visibility</mat-icon>
                    </button></div>

                </mat-grid-tile>
                <!-- <mat-grid-tile
                colspan="1"
                rowspan="2">
                 <div ><button mat-icon-button matTooltip="Cancelar solicitud" matTooltipPosition="above" color="warn"
                   aria-label="Cancelar solicitud"><mat-icon>delete_forever</mat-icon></button></div>

            </mat-grid-tile> -->
                  </mat-grid-list>
                </mat-card>
              </ng-container>
              <ng-template #noData>
                <p class="text-center">No hay solicitudes por el momento!</p>
              </ng-template>
    </mat-card-content>
    <mat-card-content *ngIf="isLoading" >
      <div class="d-flex justify-content-center">
        <mat-spinner color="warn" diameter="40"></mat-spinner>
      </div>
    </mat-card-content>

  </mat-card>
  