
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#Codigo</th>
        <th scope="col">Nombre</th>
        <!-- <th scope="col">Marca</th> -->
        <th scope="col">Cantidad</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Dirección</th>
        <th scope="col">Ubicación</th>
         <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="(resources$ | async) && !(loading$ | async)">
        <tr *ngFor="let resources of resources$ | async; index as i">
        <td>
          <img src="{{resources.picture}}" alt="" height="90px" width="100px" >
        </td>
          <td>
            <ngb-highlight [result]="resources.id" [term]="service.searchTerm"></ngb-highlight>
          </td>

          <td>
            <ngb-highlight
              [result]="resources.name | titlecase"
              [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="resources.quantity"
              [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="resources.locationCityName" [term]="service.searchTerm">
            </ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="resources.estates.address" [term]="service.searchTerm">
            </ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="resources.estates.estateTypes | titlecase" [term]="service.searchTerm"></ngb-highlight>
          </td>

          <!-- <td><a matTooltip="Información del encargado" matTooltipPosition="above" color="warn"
              (click)="openModal('employee',resources.users.userID)" aria-label="Información del encargado">
  
              <ngb-highlight [result]="resources.users.name" [term]="service.searchTerm"></ngb-highlight>
            </a></td> -->
          <!-- <td>
            <ngb-highlight [result]="resources.users.name | titlecase" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="resources.requestDate" [term]="service.searchTerm"></ngb-highlight>
          </td> -->
          <td  >
            <button mat-icon-button matTooltip="Ver más" matTooltipPosition="left" placement="bottom"
               aria-label="Ver más" [ngbPopover]="popMenu" popoverClass="option" container="body">
              <mat-icon>more_vert</mat-icon>
            </button>

            <ng-template   #popMenu >
              <button [routerLink]="['/recursos','editar',type]" [queryParams]="{ id: resources.id }" type="button" class="btn btn-option-success  btn-sm" ><mat-icon class="icon">mode_edit</mat-icon><p class="option-text">Actualizar</p> </button>
              
      
              <button *ngIf="resources.availability; else isNotAvailable" type="button " class="btn btn-option-warning  btn-sm" (click)="changeStatus('Deshabilitar',$event, resources.id)" >
                <mat-icon class="icon">person_remove</mat-icon>
                <p class="option-text">Deshabilitar</p>
              </button>
              <ng-template #isNotAvailable >
              <button type="button" class="btn btn-option-success  btn-sm" (click)="changeStatus('Habilitar',$event, resources.id)">
                <mat-icon class="icon">person_add</mat-icon>
                <p class="option-text">Habilitar</p>
              </button>
            </ng-template>
              <button type="button " class="btn btn-option-warning  btn-sm" (click)="changeStatus('Eliminar',$event, resources.id)">
                <mat-icon class="icon">delete</mat-icon>
                <p class="option-text">Eliminar</p>
              </button>
              <!-- <button type="button" class="btn btn-option  btn-sm" ><mat-icon class="icon">picture_as_pdf</mat-icon><p class="option-text">Descargar</p></button> -->

            </ng-template>
          </td> 


        </tr>
       
      </ng-container>
      <tr *ngIf="!(resources$ | async).length || (loading$ | async)">
        <td *ngIf="(loading$ | async)" colspan="13" class="text-center" >
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
        <td *ngIf="!(resources$ | async).length && !(loading$ | async)" colspan="13" class="text-center">
          <p class="align-center">No hay {{type | lowercase}}.</p>
        </td>
      </tr>

    
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>
  
    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="5">5 items por pagina</option>
      <option [ngValue]="15">15 items por pagina</option>
      <option [ngValue]="25">25 items por pagina</option>
      <option [ngValue]="(total$ | async)">Todos los items</option>
    </select>
  </div>