.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
}

.modal-header {
  text-align: center !important;
}

/* .personal, .contact, .work, .access {
  background-color: #e9ecef;
  border: 1px;
  border-radius: 10px;
  padding-top: 10px;

} */

.modal-body {
  margin: 0 15px !important;
}

#estateTypes {
  width: 35%;
}

#address {
  width: 65%;
}

.input-group .form-control {
  flex: none !important;
}


.progress-bar {
  padding: 0;
}

.imagen-class {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start !important;
  align-content: center;
  justify-content: center;
}

.progress {
  width: 50px;
  color: black;
  line-height: normal !important;
}

.mat-input-element {
  font-size: medium;
  font-weight: 200;
}

#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}


.preview {
  max-width: 200px;
  vertical-align: middle;
}

.image-wrap {
  padding: 10px;
  border: solid 1px #e0e0e0;
  display: inline-block;
}

.img-space {
  background-color: white;
  height: 200px;
  width: 250px;
  padding: 10px;
  min-height: 175px;
  background-color: white;
  /* height: 200px; */
  width: 250px;
  padding: 10px;
  min-height: 175px;
  /* margin-right: 5rem; */
  position: relative;
  /* right: 29px; */
}

.img-space img {
  display: block;
  width: 100%;
  margin: auto;
  cursor: pointer;
  border-radius: 15px;
}

.fileInputProfileWrap {
  /* width: 100%;
  height: auto;
  position: relative;
  top: 10rem; */
}

.fileInputProfile {
  /* position: absolute; */
  /* height: 100%;
  width: 100%; */
  /* z-index: 99;
  opacity: 0; */
}

.fileInputProfile[disabled]+.img-space {
  pointer-events: none;
  cursor: not-allowed !important;
}


/* .mat-tab-group {
  flex-direction: row !important;
}
.mat-tab-header {
  border-bottom: none;
}
.mat-tab-header-pagination {
  display: none !important;
}
.mat-tab-labels {
  flex-direction: column;
}
.mat-ink-bar {
  height: 100%;
  width: 2% !important;
  left: 98% !important;

}
.mat-tab-body-wrapper {
  flex: 1 1 auto;
} */
.info-personal {
  /* background-color: #e9ecef; */
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: blue; */
}

.avatar img {
  width: 100%;
}

.modal-header {
  text-align: center !important;
}

/* .personal, .contact, .work, .access {
  background-color: #e9ecef;
  border: 1px;
  border-radius: 10px;
  padding-top: 10px;

} */

.modal-body {
  margin: 0 15px !important;
}

#estateTypes {
  width: 35%;
}

#address {
  width: 65%;
}

.input-group .form-control {
  flex: none !important;
}

.modal-title {
  text-transform: uppercase;
  font-weight: 500;

}

.options {
  padding: 8px 0px;
  background-color: #424242;
}

.options .arrow::after {
  border-bottom-color: #424242 !important;

}

.btn-options, .btn-options-warning, .btn-options-success {
  width: 100%;
  background-color: #424242;
  outline: none;
  padding: 0px 16px;
  display: block;
  position: relative;
  height: 48px;
  text-align: left;
  border: none;
  color: white;
}

.btn-options-warning:hover {
  background: red;
  color: white;
}

.btn-options-success:hover {
  background: green;
  color: white;
}

.btn-options:hover {
  background: rgba(255, 255, 255, .04);
  color: white;
}

.icon {
  vertical-align: middle;
  margin-right: 16px;
}

.options .popover-body {
  padding: 8px 0 !important;
}

.availability, p {
  margin: 0 !important;
}
/*
@media (min-width: 1200px) {

  .modal-xl {
    max-width: 1500px !important;
  }
}


.modal-body {
  max-height: calc(100% - 120px) !important;
  overflow-y: scroll;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 500px;
    margin: 9.75rem auto !important;
  }
} */
.mat-tab-body-content {
  /* height: auto !important; */
  overflow: hidden !important;
}


.container {
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
  z-index: -1;
}

.img-space {
  background-color: white;
  height: 200px;
  width: 13rem;
  padding: 10px;
  min-height: 175px;

}

.fileInputProfileWrap {
  width: 100%;
  height: auto;
}

.fileInputProfile {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  opacity: 0;
}

.fileInputProfile[disabled]+.img-space {
  pointer-events: none;
  cursor: not-allowed !important;
}

.img-space img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  cursor: pointer;
  border-radius: 15px;

}

.Name-Lastname {
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
}

.progress {
  width: 50px;
  color: black;
  line-height: normal !important;
}

.Email {
  text-align: center;
}

/* .active {
  background: #F7F7F7 !Important;
} */

.nav-link {
  color: #000 !Important;
  font-size: 14px !Important;
  padding: 15px 35px;
  cursor: pointer;
}

.nav-link i {
  padding-right: 10px;
}


strong {
  display: flex;
  margin-bottom: 0;
}



.info, .Email {
  font-size: 14px;
}

.tab-options {
  border-radius: 10px;
  background-color: #fff;
  padding: 3;
}

/* .title {
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  background-color: #F7F7F7;
  font-weight: 300;

} */



.nombreInput,
.apellidoInput,
.telefonoInput,
.direccionInput,
.correoInput,
.fechaInput,
.correoInput,
.passwordInput,
.statusInput {
  width: 50%;
  padding: 4px 6px;
  margin-bottom: 1rem;
}

.statusInput {
  width: 40%;
}

.enviar {
  width: 30%;
  background: #9ea0a3;
  transition: 0.3s ease-in-out;
  border: none;
  outline: none;
  margin-bottom: 1rem;
  margin-top: 15px;
  padding: 10px 10px;
  box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.75);

}

.tab-content {
  border-radius: 10px;
}

.ngContainer {
  transition: 1s linear;
}

.cancelar {
  color: #000;
  text-decoration: none;
  margin-bottom: 15px;
}

.enviar:hover {
  background: #b71c1c;
  transform: translateY(5px);
  color: #fff;
}

.personal {
  padding: 25px 0 0 50px;
}

.general {
  padding: 25px 0 0 50px;

}

.work, .contact, .access {
  padding: 25px 0 0 0;
}

.form-group {
  margin: 0;
}

.row {
  margin-left: 0;
}


.progress-bar {
  padding: 0;
  background: transparent;
}

img {
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 1rem;
}
