
  .modal-header {
    text-align: center!important;
  }

  .modal-body {
    margin: 0 15px!important ;
  }

  #estateTypes {
    width: 35%;
  }
  #address {
    width: 65%;
  }
  .input-group .form-control {
    flex: none!important;
  }
  .modal-title{
    text-transform: uppercase;
    font-weight: 500; 
    
  }
  .options {
    padding: 8px 0px;
    background-color: #424242;
  }
  .options .arrow::after{
    border-bottom-color: #424242 !important;

  }
  .btn-options, .btn-options-warning, .btn-options-success{
    width: 100%;
    background-color: #424242;
    outline: none;
    padding: 0px 16px;
    display: block;
    position: relative;
    height: 48px;
    text-align: left;
    border:none;
    color: white;
  }
  .btn-options-warning:hover {
    background:red;
    color:white;
  }
  .btn-options-success:hover {
    background: green;
    color:white;
  }
  .btn-options:hover{
    background:rgba(255,255,255,.04);
    color:white;
  }

  .icon{
    vertical-align: middle;
    margin-right: 16px;
  }

  .options .popover-body{
    padding: 8px 0 !important;
  }

  .availability, p{
    margin: 0 !important;
  }