<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{action | uppercase}}</h3>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="user then withUser; else withoutUser"></ng-container>
    <ng-template #withUser>
      <p><strong>¿Está seguro que quiere {{action | lowercase}} a <span class="text-primary">"{{user.persons.firstName | titlecase}} {{user.persons.lastName | titlecase}}"</span> ?</strong></p>
    <p *ngIf="action ==='Eliminar'">Toda información asociada a este perfil será eliminada permanentemente.
    <span class="text-danger">Esta operación es irreversible.</span>
    </p>
    <p *ngIf="action ==='Deshabilitar'">El usuario no podrá ingresar más a la plataforma.
      <span class="text-warning">Esta operación es reversible.</span>
    </p>
    <p *ngIf="action ==='Habilitar'">El usuario tendra acceso a la plataforma.
      <span class="text-info">Esta operación es reversible.</span>
    </p>
  </ng-template>
  <ng-template #withoutUser>
      <p><strong>¿Está seguro que quiere {{action | lowercase}}?</strong></p>
      <p *ngIf="action ==='Eliminar'">Toda información asociada será eliminada permanentemente.
      <span class="text-danger">Esta operación es irreversible.</span>
      </p>
      <p *ngIf="action ==='Deshabilitar'"><span class="text-warning">Esta operación es reversible.</span>
        </p>
        <p *ngIf="action ==='Habilitar'"><span class="text-info">Esta operación es reversible.</span>
          </p>
        </ng-template>

        <form [formGroup]="form" *ngIf="action ==='Deshabilitar'">

          <mat-form-field class="example-full-width mat-field" appearance="fill" *ngIf="action ==='Deshabilitar'">
            <mat-label>Razon: </mat-label>
            <textarea id="some-value" name="reason"
            formControlName="reason"
            (change)="doTextareaValueChange($event)" matInput></textarea>
          </mat-form-field>

          <mat-error *ngIf="formD.get('reason').hasError('required')">
            La razón es<strong> requerida</strong>
          </mat-error>
        </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>

    <button [disabled]="form.invalid" type="button" ngbAutofocus class="btn" [ngClass]="action === 'Deshabilitar' ? 'btn-danger' : 'btn-success'" (click)="closeModal()"
    *ngIf="action ==='Deshabilitar'"
    >Ok</button>
    <button type="button" ngbAutofocus class="btn" [ngClass]="action !== 'Deshabilitar' ? 'btn-success' : 'btn-danger'" (click)="closeModal()"
    *ngIf="action !=='Deshabilitar'" >Ok</button>
  </div>
