.header{
height: 56px;
padding: 20px 20px;
color:  #363636 !important ;
}
.body{
padding: 25px 10px;
overflow-x: auto;
font-size: 15px;

}
.title h2{
margin: 0 !important;
}
.title2{
    flex: 1;
    font-size: 18px;
    font-weight: 500;
}
.ing{
    width: 83%;
    text-align: start;
}
.card-content{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 179px;
    width: 400px;
    max-width: 400px;
    margin: auto;
    flex-direction: column;
    background-color: #F1F1F1;

    border-radius: 15px;
}
.download{
    display: flex;
    justify-content: center;
    margin: 1em;
    align-items: center;
    color: #E4002B;
}
.download-card{
    cursor: pointer;
    text-decoration: underline;
}
/* Card */
.card-c {
/*     background-color: #F1F1F1 !important;
 */    height: 100%;
    background: linear-gradient(to top right, #F1F1F1 0%,
                                rgb(242, 242, 242) 62%,
                                rgba(21, 22, 22, 0.315)100%
                                ) !important;
    /* max-width: 400px; D9D9D9*/
  }
  .example-header-image {
    background-size: cover;
    color: red;
  }
  mat-card-title .mat-card-header-text {
      margin: 0 !important;
  }
  img {
      background-size: cover;
      width: 42px;
  }
  .logo-cr{
    width: 50px;
    background-size: cover;

  }
span h3 {
    font-weight: bold;
    margin: 0 !important;
}
