<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image pl-3">
      <span class="material-symbols-outlined">
        badge
      </span>
    </div>
    <mat-card-title>
      <h2>{{title}}</h2>
    </mat-card-title>
  </mat-card-header>
  <hr />
  <mat-card-content *ngIf="!isLoading">
    <div class="card-content">
      <mat-card class="card-c">
        <mat-card-header>
          <div class="d-flex flex-column align-items-start">
            <span>
              <h3>{{currentUser.persons.lastName | uppercase}}, {{currentUser.persons.firstName | uppercase}}</h3>
            </span>
            <span>
              <h3>{{currentUser.userDni | uppercase}}</h3>
            </span>
            <span class="text-muted">Cruz Roja Argentina</span>
          </div>
          <div mat-card-avatar class="logo-cr">
            <img src="../../../assets/img-home-credentials/1200px-Cruz_Roja.svg.png" alt="">
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="4:1">
            <mat-grid-tile><span>
                Cargo.: {{currentUser.roleName | titlecase}}
              </span></mat-grid-tile>
            <mat-grid-tile><span>
                {{currentUser.estates.estateTypes | titlecase}} : {{currentUser.estates.locationCityName | titlecase}}
              </span></mat-grid-tile>
            <mat-grid-tile><span>
                Fecha de Ing.: {{currentUser.employeeCreatedate | date:"MM/yy"}}
              </span></mat-grid-tile>

            <mat-grid-tile><span>Válido hasta:
                {{currentUser.employeeCreatedate | date:"MM"}}/{{21 + 4}}</span> </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="isLoading">
    <div class="d-flex justify-content-center">
      <mat-spinner color="warn" diameter="40"></mat-spinner>
    </div>
  </mat-card-content>

  <mat-card-actions *ngIf="!isLoading">
    <div class="d-flex flex-wrap flex-row justify-content-center p-2">
      <button mat-stroked-button color="warn" [disabled]="loading" (click)="generatePDF()">
        <span class="text-center" *ngIf="loading">
          <i class="fas fa-spinner fa-lg fa-spin"> </i>
        </span>
        <mat-icon>
          picture_as_pdf
        </mat-icon>
        Descargar
      </button>
    </div>
  </mat-card-actions>
</mat-card>