
<div class="d-flex flex-wrap justify-content-around align-items-center">
    <mat-form-field *ngIf="withResourceType" appearance="legacy">
      <mat-label>Tipo de Recurso</mat-label>
      <mat-select [value]="(resourceType | async)" (selectionChange)="changeResourceType($event.value)">
      <!-- <mat-option value="">Todos</mat-option> -->
      <mat-option value="materiales">Materiales</mat-option>
      <mat-option value="medicamentos">Medicamentos</mat-option>
      <mat-option value="vehiculos">Vehiculos</mat-option>
      </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="withConditionType" appearance="legacy">
        <mat-label>Estado</mat-label>
        <mat-select [value]="(requestCondition | async)" (selectionChange)="changeRequestType($event.value)">
          <!-- <mat-option value="">Todos</mat-option> -->
        <mat-option value="Todas">Todas</mat-option>
        <mat-option value="Pendiente">Pendiente</mat-option>
        <mat-option value="Aceptada">Aceptado</mat-option>
        <mat-option value="Rechazada">Rechazado</mat-option>
        </mat-select>
        </mat-form-field>
<!-- 
    <mat-form-field appearance="legacy">
    <mat-label>Tipo de grafico</mat-label>
    <mat-select [(value)]="service.searchType">
    <mat-option value="table">Tabla</mat-option>
    <mat-option value="reportes">Reportes</mat-option>
    </mat-select>
    </mat-form-field> -->
    <mat-form-field *ngIf="withAlertType" appearance="legacy" >
      <mat-label>Tipo de alerta</mat-label>
      <mat-select [value]="service.searchAlertType" (selectionChange)="changeAlertType($event.value)">
    <mat-option value=''>Todos</mat-option>
    <mat-option *ngFor="let types of (requestAlertType | async)" [value]="types">
      {{types | titlecase}}
    </mat-option>
  </mat-select>
</mat-form-field>

    <mat-form-field *ngIf="withLocation" appearance="legacy" >
    <mat-label>Localidad</mat-label>
    <mat-select [value]="service.searchLocation" (selectionChange)="changeLocationCity($event.value)">
    <mat-option value=''>Todos</mat-option>
<!-- <mat-select-trigger>
  {{locationSelected.length ? locationSelected[0] : ''}}
  <span *ngIf="locationSelected?.length > 1" class="example-additional-selection">
    (+{{locationSelected.length - 1}} {{locationSelected.length === 2 ? 'otro' : 'otros'}})
  </span>
</mat-select-trigger> -->
<!-- <mat-optgroup *ngFor="let locations of locations" [label]="locations.locationCityName"> -->
  <!-- <mat-option *ngFor="let estate of locations['estates']" [value]="estate.estateID">
    {{estate.address | titlecase}} &nbsp; &nbsp; <strong> {{ estate.estateTypes | uppercase }}</strong>
  </mat-option> -->
  <mat-option *ngFor="let locations of (locations | async)" [value]="locations.locationID">
    {{locations.locationCityName | titlecase}}
  </mat-option>
<!-- </mat-optgroup> -->

</mat-select>
</mat-form-field>
<ng-container *ngIf="datepicker">
  <mat-form-field appearance="legacy">
      <mat-label>Desde</mat-label>
      <input matInput [matDatepicker]="from" (dateChange)="service.from = $event.value">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="from" [(ngValue)]="service.from"></mat-datepicker-toggle>
      <mat-datepicker #from></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field appearance="legacy">
      <mat-label>Hasta</mat-label>
      <input matInput [matDatepicker]="to" (dateChange)="service.to = $event.value">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="to" [(ngValue)]="service.to"></mat-datepicker-toggle>
      <mat-datepicker #to></mat-datepicker>
  </mat-form-field>
</ng-container>

<ng-container *ngIf="withDonation">
<mat-checkbox
class="m-1"
[(value)]="service.hasDonation"
(change) = "service.hasDonation = $event.checked"
(indeterminate)="false"
labelPosition="after"
>
<!-- (change) = "service.hasDonation = $event.value" -->
Mostrar donaciones
</mat-checkbox>
</ng-container>

<ng-container *ngIf="withStock">
<mat-checkbox
class="m-1"
[(value)]="service.hasAvailability"
(change) = "service.hasAvailability = $event.checked"
(indeterminate)="false"
labelPosition="after"
>
<!-- (change)="service.hasAvailability = $event.value" -->
Mostrar recursos sin stock
</mat-checkbox>
</ng-container>

  <div *ngIf="withResetForm" class="d-flex justify-content-center justify-content-lg-start">
    <button mat-raised-button color="primary" (click)="resetForm()"> Reestablecer filtros</button>
  </div>
</div>