<section class="row justify-content-around col-body" id="row-aside">
  <div class="col-12 d-flex flex-column justify-content-start">
    <mat-accordion>
      <mat-expansion-panel
        style="width: 100%"
        [disabled]="isDisabled"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <form class="col-12 col-xs-12 col-sm-auto d-flex pt-2">
              <div
                class="d-flex form-control align-self-start align-items-center bd-highlight pr-3"
                id="search"
              >
                <ng-container
                  *ngIf="
                    (service.loading$ | async) ||
                      (reportService.loading$ | async);
                    else searchTemplate
                  "
                >
                  <span class="col-2 text-left"
                    ><i class="fas fa-spinner fa-lg fa-spin"></i
                  ></span>
                </ng-container>
                <ng-template #searchTemplate>
                  <span class="col-2 text-left"
                    ><mat-icon>search</mat-icon></span
                  >
                </ng-template>
                <input
                  class="col-10 input-search"
                  type="text"
                  name="searchTerm"
                  [(ngModel)]="service.searchTerm"
                  placeholder="Buscar {{ type | titlecase }}"
                />
              </div>
            </form>
          </mat-panel-title>
          <button
            mat-raised-button
            color="warn"
            matTooltip="Agregar nuevo recurso"
            class="m-2"
            [routerLink]="['/recursos', 'nuevo', type]"
          >
            <mat-icon>add</mat-icon>
          </button>
          <mat-panel-description>
            <h2 *ngIf="reportService.searchType === 'table'">
              Stock de recursos
            </h2>
            <h2 *ngIf="reportService.searchType !== 'table'">
              Reportes de recursos
            </h2>
          </mat-panel-description>
          <button *ngIf="reportService.searchType === 'table'" mat-raised-button color="warn" matTooltip="Historial de solicitudes" class="m-2"
          (click)="reportService.searchType = 'reportes'">
          <mat-icon>bar_chart</mat-icon>
      </button>
          <button *ngIf="reportService.searchType === 'reportes'" mat-raised-button color="warn" matTooltip="Historial de solicitudes" class="m-2"
          (click)="reportService.searchType = 'table'">
              <mat-icon>history</mat-icon>
          </button>
          <button
            mat-raised-button
            color="warn"
            matTooltip="Filtros"
            class="m-2"
            (click)="manageAccordion()"
          >
            <mat-icon>filter_alt</mat-icon>
          </button>
        </mat-expansion-panel-header>

        <mat-action-row>
          <button
            mat-raised-button
            color="warn"
            (click)="reportService.resetForm()"
          >
            Reestablecer filtros
          </button>
        </mat-action-row>

        <filter
          [datepicker]="false"
          [withStock]="true"
          [withDonation]="true"
          [withResourceType]="true"
          [withLocation]="true"
        ></filter>
      </mat-expansion-panel>
    </mat-accordion>

    <ng-container
      *ngIf="
        (service.loading$ | async) || (reportService.loading$ | async);
        else elseTemplate
      "
    >
      <div class="d-flex align-items-center justify-content-center m-5">
        <mat-spinner color="warn"></mat-spinner>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <stock-table
        *ngIf="(reportService.type$ | async) === 'table'"
        [type]="type"
      ></stock-table>
      <stock-report
        *ngIf="(reportService.type$ | async) !== 'table'"
      ></stock-report>
    </ng-template>
  </div>
</section>
