.head {
    margin: 10px 10px 30px 10px;
}
.head h1 {
    text-align: center;
}
.center{
    justify-content:space-evenly;
    margin: 10px 10px 30px 10px;
    max-height: 22em;
}
.request , .info , .f-tec{
    background-color: white;
}
.request{
    flex-direction: column;
    height: 18em;
    justify-content:space-around;
    align-items: center;

}
.img {
display: flex;
justify-content: center;
}

    