.head {
    margin: 10px 10px 30px 10px;
}

.center{
    justify-content:space-evenly;
    margin: 10px 10px 15px 10px;
    max-height: 22em;
}
.request , .info , .f-tec{
    background-color: white;
    height: max-content;
    padding: 15px 15px;
    border: 1px solid #ced4da;
    border-radius: .25rem;

}
.request{
    display: flex;
    flex-direction: column;
    height: max-content;
    
    justify-content:flex-start;
    align-items: stretch;
    

}
#schedule-title{
    flex-direction: column;
    align-items: center;

}
#times{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6px 3px;

}
.cantidad {
    flex-direction: column;
    align-items: center;
}
.boton{
    align-self: center;
}
.btn-danger {
    width: 200px;
}
.title{
text-align: center;
}
.img {
display: flex;
justify-content: center;
}

.info{
    display: flex ;
    flex-direction: column;
    /* height: min-content; */
}

.stock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info .form-control {
    display: flex !important;
    justify-content: space-between ;
    border:none;
}
.list-times{
    width: inherit;
    padding-bottom: 5px;
}
.form-control{
 height: min-content !important;

}