.col-body {
    background: #fff;
    border-radius: 10px;
    padding: 20px 0;
  }
  
  #row-aside {
    max-width: 100%;
    margin: 1em 3.5em;
  }
  input{
    border: none;

}
  textarea:focus, input:focus{
    outline: none;
  }
  
  .title {
    text-align: center;
    margin: 40px 0;
  }
  
  .title h1 {
    font-size: 35px !important;
  }
  .description-field{
    width: 85%;
    height: 100%;
  }
  .col-head{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
  }

  #form{
    padding:10px; 
    margin: 20px 15px;
    border: 3px solid rgba(230, 28, 28, 0.406);
    border-radius: 10px;
  }

  mat-form-field{
    padding:7px 20px 0 20px;  
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
  }
  
  .progress-bar {
    padding: 0;
  }
  .progress {
    width: 50px;
  }
  .mat-input-element {
    font-size: medium;
    font-weight: 200;
  }
  #fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  .mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
  }
  .mat-toolbar-single-row button {
    width: 100px;
  }
  .mat-form-field {
    width: 100%;
  }
  .message {
    background-color: #ddd;
    padding: 15px;
    color: #333;
    border: #aaa solid 1px;
    border-radius: 4px;
    margin: 15px 0;
  }
  .preview {
    max-width: 200px;
    vertical-align: middle;
  }
  .list-card {
    margin-top: 20px;
  }
  .list-item {
    margin-bottom: 20px;
  }